#html {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: rgb(47,79,79);
}

#body {
    min-width: 378px;
}

#page-title {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: #ffdead;
    font-weight: bolder;
    font-size: 55px;
    padding-bottom: 25px;
}

#control-board {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.shop-buttons {
    border-radius: 12px;
    border-width: 4px;
    height: 50px;
    padding: 0px 7px 0px 7px;
    margin-left: 15px;
    margin-bottom: 15px;
}

#kroger-button {
    background-color:  rgb(0, 102, 182);
    color: white;
}

#target-button {
    background-color: rgb(232, 0, 24);
    color: white;
}

#food-city-button {
    background-color: rgb(206, 156, 40);
    color: white;
}

#costco-button {
    background-color: rgb(238, 238, 238);
    color: black;
    margin-right: 15px;
}

#input-board {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

#item-input-blank {
    border-radius: 8px;
    border-width: 4px;
    padding: 4px;
    margin-left: 20px;
    margin-top: 12px;
    height: 35px;
    width: 240px;
    font-size: 20px;
}

#add-item-button {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    border-width: 4px;
    height: 35px;
    margin: 0px 20px 0px 5px;
}

.shop-lists {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    display: grid;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding-left: 20px;
    list-style: none;
}

#kroger-item-list {
    color: rgb(0, 102, 182);
}

#target-item-list {
    color: rgb(232, 0, 24);
}

#food-city-item-list {
    color: rgb(206, 156, 40);
}

#costco-item-list {
    color: rgb(238, 238, 238);
}

.listItem {
    margin: 10px 0px 10px 0px;
    flex-wrap: wrap; /* how do I make this wrap and not go off screen? */
}

.checkbox {
    margin: 0px 21px 0px 0px;
    transform: scale(2);
}

.remove-button {
    background-color: rgb(54, 54, 54);
    color: white;
    border-radius: 10px;
    height: 30px;
    margin-left: 14px;
}

#footer-container {
    position: relative;
    min-height: 30px;
}

#footer {
    display: flex;
    justify-content: center;
    font-family: cursive;
    color: #ffdead;
    background: rgb(47,79,79);
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* @media screen and (min-width: 768px) {
    body {
      background-color: chartreuse;
    }
    
} */